---
layout: layouts/home.njk
permalink: /search/
title: Search Lynn Fisher’s Tweets
---

<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">

<style>
  .pagefind-ui.svelte-7z8ick {
  }
</style>

<noscript>Search requires JavaScript, sorry!</noscript>

<div id="search" class="search"></div>

<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: true });"></script>

